body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* background-color:  #6e22c0; */
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg,#6612bf,rgb(153, 52, 187));
}

h1{
  text-align: center;
  color: chartreuse;
  text-shadow:2px 2px 5px #11180f;
}

.input-container{
  display: flex;
  flex-direction : column;
  align-items: center;
}

.input-container >input{
  width: 300px;
  height: 30px;
  font-size: 1.25rem;
  box-shadow: 2px 2px 3px black;
  border-radius: 5px;
  border: none;
}

.input-container>button{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-size:1rem;
  background-color:chartreuse;
  margin: 10px;
  cursor: pointer;
}

.container{
  margin-top:15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo{
  width: 500px;
  font-size: 1.2rem;
  display: flex;
  justify-content:space-between;
  border-radius: 10px;
  background-color: #F1FAEE;
  padding: 0px 5px;
  align-items: center;
}

.actions > button{
  background-color: chartreuse;
  height: 30px;
  width: 70px;
  border-radius: 10px;
  font-size:1.05rem;
  margin-left: 10px;
}