.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container > input {
  width: 300px;
  height: 30px;
  font-size: 1.25rem;
  box-shadow: 2px 2px 3px black;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}

.input-container > button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-size: 1rem;
  background-color: chartreuse;
  cursor: pointer;
}
